/build
# -----------------------------
# Gradle 文件
# -----------------------------
.gradle/
build/
*/build/

# -----------------------------
# Local configuration
# -----------------------------
local.properties
*.iml
.idea/
/.idea/.name
/gradlew.bat
